{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Predictor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background: url('static/images/bg.jpg');
        background-size: cover;
        color: white;
    }
    .container {
        width: 50%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
    }
    label, input, button {
        display: block;
        margin: 10px 0;
    }</style>
<body>
    <div class="container">
        <h1>COVID-19 Predictor</h1>
        <form method="POST" action="{% url 'predictor' %}">
            {% csrf_token %}
            <label>Age:</label>
            <input type="number" step="any" name="age" required><br>

            <label>Fever (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="fever" required><br>
            
            <label>Cough (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="cough" required><br>

            <label>Hypertension (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="hypertension" required><br>

            <label>diabetes (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="diabetes" required><br>

            <label>Travel History to High-Risk area ( 1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="travel_history" required><br>

            <label>Loss of Taste/Smell (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="loss_of_taste_smell" required><br>

            <label>Shortness of Breath (1 for 'yes', 0 for 'No'):</label>
            <input type="number" step="any" name="close_contact" required><br>

            <button type="submit">Predict</button>
            <br>
            
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}

            {% if prediction is not None %}
                <p style="color: rgb(255, 255, 255);">
                    {% if prediction == 1 %}
                        You are likely COVID positive.
                    {% else %}
                        You are likely COVID negative.
                    {% endif %}
                </p>
            {% endif %}
        </form>
    </div>
</body>
</html>
